<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>error</key>
	<string>0</string>
	<key>info</key>
	<string></string>
	<key>msg</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>test_id</key>
				<string>8</string>
				<key>number</key>
				<string>1</string>
				<key>answer</key>
				<string>B</string>
				<key>score</key>
				<string>10</string>
				<key>topic_id</key>
				<string>1</string>
				<key>title</key>
				<string>吐鲁番盆地被称为什么盆地</string>
				<key>type</key>
				<string>1</string>
				<key>option_xuan</key>
				<array>
					<array>
						<string>A</string>
						<string>红色盆地</string>
					</array>
					<array>
						<string>B</string>
						<string>紫色盆地</string>
					</array>
					<array>
						<string>C</string>
						<string>黄色盆地</string>
					</array>
					<array>
						<string>D</string>
						<string>蓝色盆地</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>test_id</key>
				<string>8</string>
				<key>number</key>
				<string>2</string>
				<key>answer</key>
				<string>A</string>
				<key>score</key>
				<string>10</string>
				<key>topic_id</key>
				<string>2</string>
				<key>title</key>
				<string>曹操麾下哪一个大将被称为“虎痴”</string>
				<key>type</key>
				<string>0</string>
				<key>option_xuan</key>
				<array>
					<array>
						<string>A</string>
						<string>许诸</string>
					</array>
					<array>
						<string>B</string>
						<string>典韦</string>
					</array>
					<array>
						<string>C</string>
						<string>夏侯渊</string>
					</array>
					<array>
						<string>D</string>
						<string>徐晃</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>test_id</key>
				<string>8</string>
				<key>number</key>
				<string>3</string>
				<key>answer</key>
				<string>C</string>
				<key>score</key>
				<string>10</string>
				<key>topic_id</key>
				<string>3</string>
				<key>title</key>
				<string>历史上最早的编年体通史是？</string>
				<key>type</key>
				<string>0</string>
				<key>option_xuan</key>
				<array>
					<array>
						<string>A</string>
						<string>左传</string>
					</array>
					<array>
						<string>B</string>
						<string>史记</string>
					</array>
					<array>
						<string>C</string>
						<string>资治通鉴</string>
					</array>
					<array>
						<string>D</string>
						<string>春秋</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>test_id</key>
				<string>8</string>
				<key>number</key>
				<string>4</string>
				<key>answer</key>
				<string>B</string>
				<key>score</key>
				<string>10</string>
				<key>topic_id</key>
				<string>4</string>
				<key>title</key>
				<string>Na 可以用水储存么？</string>
				<key>type</key>
				<string>0</string>
				<key>option_xuan</key>
				<array>
					<array>
						<string>A</string>
						<string>可以</string>
					</array>
					<array>
						<string>B</string>
						<string>不可以</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>test_id</key>
				<string>8</string>
				<key>number</key>
				<string>5</string>
				<key>answer</key>
				<string>D</string>
				<key>score</key>
				<string>10</string>
				<key>topic_id</key>
				<string>5</string>
				<key>title</key>
				<string>细胞分裂过程中，为其提供能量的是？</string>
				<key>type</key>
				<string>0</string>
				<key>option_xuan</key>
				<array>
					<array>
						<string>A</string>
						<string>纺锤体</string>
					</array>
					<array>
						<string>B</string>
						<string>细胞核</string>
					</array>
					<array>
						<string>C</string>
						<string>细胞膜</string>
					</array>
					<array>
						<string>D</string>
						<string>线粒体</string>
					</array>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
